* { all: unset; }

/* ------------------ Pallete ------------------ */

$background: #F2E9DE;
$foreground: #575279;

$black:   #faf4ed;
$red:     #b4637a;
$green:   #286983;
$yellow:  #ea9d34;
$blue:    #56949f;
$magenta: #907aa9;
$cyan:    #3e8fb0;
$white:   #423e5b;

$br-black:   #f2e9e1;
$br-red:     #eb6f92;
$br-green:   #3e8fb0;
$br-yellow:  #f6c177;
$br-blue:    #459BBD;
$br-magenta: #c4a7e7;
$br-cyan:    #56949f;
$br-white:   #575279;

$selection-bg: #9893a5;
$selection-fg: #797593;

.bar {
  font-family: "Ioskeley Mono";
  background-color: $black;
  margin-top: 5px;
  margin-left: 5px;
}

.clock-widget {
  background-color: $background;
  color: $foreground;
  font-size: 18px;
}
