* {
  all: unset;
  border-radius: 0px;
}

$background: #141210;
$foreground: #e5c9a0;

$black: #322d28;
$red: #c06c5c;
$green: #78997a;
$yellow: #c09d59;
$blue: #7f91b2;
$magenta: #b380b0;
$cyan: #7b9695;
$white: #d8be97;

$br-black: #4d463e;
$br-red: #d97a68;
$br-green: #85b695;
$br-yellow: #d8b164;
$br-blue: #a3a9ce;
$br-magenta: #cf9bc2;
$br-cyan: #89b3b6;
$br-white: #f2d5a9;

$selection-bg: #4d463e;
$selection-fg: #e5c9a0;

.bar {
  font-family: "Ioskeley Mono";
  background-color: $background;
  font-weight: bold;
  color: $foreground;
  font-size: 10px;
  padding: 4 2px;
}

.simple-calendar-widget {
  background-color: $background;
  margin: 10px;
  border: 2px solid $yellow;
  padding: 10px;
}

.clock-widget {
  &-time {
    background-color: $black;
    padding: 0 5px;
  }
  &-button {
    font-family: "Symbols Nerd Font Mono";
    padding: 0 6px;
    padding-top: 0px;
    font-size: 16px;
    margin: 0 0px;
    border-radius: 0px;
    background-color: $white;
    color: $black;
    &:hover {
      background-color: $br-white;
    }
  }
}

.launcher {
  font-family: "Symbols Nerd Font Mono";
  padding: 0 5px;
  padding-top: 0px;
  font-size: 25px;
  margin: 0 0px;
  border-radius: 0px;
  background-color: $green;
  color: $background;
  &:hover{
    background-color: $br-green;
  }
}

.weather {
  padding: 0 0px;
  &-temp {
    background-color: $black;
    padding: 0 5px;
  }
  &-button {
    font-family: "Symbols Nerd Font Mono";
    padding: 0 7px;
    font-size: 18px;
    margin: 0 0px;
    border-radius: 0px;
    background-color: $blue;
    color: $background;
    &:hover{
      background-color: $br-blue;
    }
  }
}

.workspaces {
  background-color: $background;
  &-empty {
    padding: 0 0px;
    margin: 0 0px;
    font-size: 0px;
    background-color: transparent;
    color: transparent;
  }
  &-occupied {
    font-weight: bold;
    padding: 0 10px;
    margin: 0 2px;
    font-size: 11px;
    background-color: $black;
    color: $foreground;
    &:hover{
      background-color: $br-black;
    }
  }
  &-focused {
    font-weight: bold;
    padding: 0 10px;
    margin: 0 2px;
    font-size: 11px;
    background-color: $white;
    color: $background;
    &:hover{
      background-color: $br-white;
    }
  }
}

.packages {
  &-text {
    background-color: $black;
    padding: 0 10px;
    margin: 0 0px;
  }
  &-icon {
    font-family: "Symbols Nerd Font Mono";
    font-size: 20px;
    background-color: $yellow;
    color: $background;
    padding: 0 8px;
    &:hover {
      background-color: $br-yellow;
    }
  }
}

.control-panel {
  background-color: $black;
  color: $red;
  padding: 0 6px;
  font-family: "Symbols Nerd Font Mono";
  font-size: 14px;
  &:hover {
    background-color: $br-black;
  }
}

.pallete-button {
  font-family: "Symbols Nerd Font Mono";
  background-color: $black;
  color: $background; 
  font-size: 20px;
  padding: 0 6px;
  &:hover {
    color: $foreground;
  }
}

.notification-button {
  font-family: "Symbols Nerd Font Mono";
  font-size: 16px;
  margin: 0 2px;
  background-color: $magenta;
  padding: 0 6px;
  color: $background;
  &:hover{
    background-color: $br-magenta;
  }
}

.battery {
  margin: 0 2px;
  &-button {
    font-family: "Symbols Nerd Font Mono";
    background-color: $white;
    padding: 0 6px;
    color: $background;
    font-size: 16px;
  }
  &-text {
    background-color: $black;
    font-size: 12px;
    padding: 0 5px;
    color: $foreground;
  }
}

.volume {
  margin: 0 2px;
  &-button {
    font-family: "Symbols Nerd Font Mono";
    background-color: $white;
    padding: 0 6px;
    color: $background;
    font-size: 16px;
  }
  &-text {
    background-color: $black;
    font-size: 12px;
    padding: 0 5px;
    color: $foreground;
  }
}
