* {
  all: unset;
  border-radius: 0px;
}

$background: #141210;
$foreground: #e5c9a0;

$black: #322d28;
$red: #c06c5c;
$green: #78997a;
$yellow: #c09d59;
$blue: #7f91b2;
$magenta: #b380b0;
$cyan: #7b9695;
$white: #d8be97;

$br-black: #4d463e;
$br-red: #d97a68;
$br-green: #85b695;
$br-yellow: #d8b164;
$br-blue: #a3a9ce;
$br-magenta: #cf9bc2;
$br-cyan: #89b3b6;
$br-white: #f2d5a9;

$selection-bg: #4d463e;
$selection-fg: #e5c9a0;

.bar {
  background-color: $background;
  font-weight: bold;
  color: $foreground;
  font-size: 10px;
  padding: 4 10px;
}

.simple-calendar-widget {
  background-color: $background;
  margin: 10px;
  border: 2px solid $yellow;
  padding: 10px;
}

.clock-widget {
  &-time {
    background-color: $black;
    padding: 0 5px;
  }
  &-button {
    padding: 0 5px;
    padding-top: 0px;
    font-size: 16px;
    margin: 0 0px;
    border-radius: 0px;
    background-color: $foreground;
    color: $background;
  }
}

.launcher {
  padding: 0 5px;
  padding-top: 0px;
  font-size: 25px;
  margin: 0 0px;
  border-radius: 0px;
  background-color: $green;
  color: $background;
}

.weather {
  padding: 0 0px;
  &-temp {
    background-color: $black;
    padding: 0 5px;
  }
  &-button {
    padding: 0 7px;
    font-size: 18px;
    margin: 0 0px;
    border-radius: 0px;
    background-color: $blue;
    color: $background;
  }
}

.workspaces {
  background-color: $background;
  font-size: 10px;
  font-weight: bold;
  margin: 0px;
  &-empty {
    padding: 0 0px;
    margin: 0 0px;
    font-size: 0px;
    background-color: transparent;
    color: transparent;
  }
  &-occupied {
    font-weight: bold;
    padding: 0 10px;
    margin: 0 2px;
    font-size: 11px;
    background-color: $selection-bg;
    color: $background;
  }
  &-focused {
    font-weight: bold;
    padding: 0 10px;
    margin: 0 2px;
    font-size: 11px;
    background-color: $foreground;
    color: $background;
  }
}

.packages {
  &-text {
    background-color: $selection-bg;
    padding: 0 10px;
    margin: 0 0px;
  }
  &-icon {
    background-color: $yellow;
    color: $background;
    padding: 0 12px;
  }
}
